
#app {
  min-height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(56, 56, 56, 1) 100%);
  background-color: #1E1E1E;
}

.wrapper {
  max-width: 1390px;
  margin: 0 auto;
  padding: 20px 15px 0;
  display: grid;
  grid-template-columns: repeat(7);
  grid-template-rows: repeat(5);
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}