.days {
  grid-area: 4 / 1 / 6 / 3;
  padding: 25px;
  color: #fff;
  background-color: #444444;
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.50);

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 30px;

  s &__icon {
    width: 60px;
    height: 60px;
    font-weight: 600;
  }

  &__value {
    font-size: 24px;
  }

  &__date {
    font-size: 20px;
  }
}